.btn-23 {
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Marvel;
    font-size: 20pt;
    width: 300px;
    height: 45px;
    position: relative;
    border: solid #777 2px;
    color: #777;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    overflow: hidden;
    background-color: transparent;
}

    .btn-23:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        width: 0%;
        background: red;
        border-radius: 23px;
        transition: all 0.5s ease-in-out;
        z-index: -1;
    }

    .btn-23:hover:before {
        width: 120%;
        left: -10%;
    }

    .btn-23:hover {
        color: #f1f1f1;
        border-color: red;
    }

    .btn-23:active {
        border-color: #00a7fc;
        color: #333;
        background-color: #00a7fc;
    }

        .btn-23:active:before {
            background-color: #00a7fc;
        }

    .btn-23:active {
        background-color: #00a7fc;
        border-color: #00a7fc;
        color: #333;
    }

        .btn-23:active:before {
            background-color: #00a7fc;
        }

    .btn-23:focus {
        outline: none
    }
